extends reusables/layout

block content
  #topic1
    if !topic1
      article(
        style='display: flex; justify-content: center; align-items: center'
      )
        section(style='flex-direction: column')
          H2 Cannot GET Topics
          form(action='/logout', method='POST')
            button(type='submit', value='Logout') Logout
    else
      //- function declarations
      - function toPercent(x){return Math.floor((x / questionsPerQuiz) * 100)}
      - function toPercentString(x){const y = toPercent(x); if(!y == 0){return y + '%'}}

      //- regular HTML
      article
        H2 Profile page
        p= `Hi ${name}, this is how you are doing.`

        H3 Progress this session
        .container
          section.progress.card.card--left
            h4= `${topic1.name}`
            section.progress__item.session
              label.progress__label(for='session-progress11')= topic1Quiz1.title
              #session-progress11.progress__bar
                span(style=`width:${toPercent(sessionProgress11)}%`)= toPercentString(sessionProgress11)

            section.progress__item.session
              label.progress__label(for='session-progress12')= topic1Quiz2.title
              #session-progress12.progress__bar
                span(style=`width:${toPercent(sessionProgress12)}%`)= toPercentString(sessionProgress12)

          section.progress.card.card--right
            h4= `${topic2.name}`
            section.progress__item.session
              label.progress__label(for='session-progress21')= topic2Quiz1.title
              #session-progress21.progress__bar
                span(style=`width:${toPercent(sessionProgress21)}%`)= toPercentString(sessionProgress21)

            section.progress__item.session
              label.progress__label(for='session-progress22')= topic2Quiz2.title
              #session-progress22.progress__bar
                span(style=`width:${toPercent(sessionProgress22)}%`)= toPercentString(sessionProgress22)

        H3 Success rates this session
        .container
          section.progress.card.card--left
            h4= topic1.name
            section.progress__item
              p= topic1Quiz1.title
              .success-rate-section__chart(
                style=`background:
              conic-gradient(
              #f44336
              ${100-sessionSuccess11}%,
              #4caf50
              ${sessionSuccess11}%
              );`
              )
            section.progress__item
              p= topic1Quiz2.title
              .success-rate-section__chart(
                style=`background:
              conic-gradient(
              #f44336
              ${100-sessionSuccess21}%,
              #4caf50
              ${sessionSuccess21}%
              );`
              )

          section.progress.card.card--right
            h4= topic2.name
            section.progress__item
              p= topic2Quiz1.title
              .success-rate-section__chart(
                style=`background:
              conic-gradient(
              #f44336
              ${100-sessionSuccess21}%,
              #4caf50
              ${sessionSuccess21}%
              );`
              )
            section.progress__item
              p= topic2Quiz2.title
              .success-rate-section__chart(
                style=`background:
              conic-gradient(
              #f44336
              ${100-sessionSuccess22}%,
              #4caf50
              ${sessionSuccess22}%
              );`
              )

        h3 Overall success rates
        .container
          section.progress.card.card--left
            h4= topic1.name
            section.progress__item
              p= topic1Quiz1.title
              if (overallSuccess11)
                .success-rate-section__chart(
                  style=`background:
                conic-gradient(
                #f44336
                ${100-overallSuccess11}%,
                #4caf50
                ${overallSuccess11}%
                );`
                )
              else
                .success-rate-section__chart(style=`background-color:#F3F0E7;`)
            section.progress__item 
              p= topic1Quiz2.title
              if (overallSuccess12)
                .success-rate-section__chart(
                  style=`background:
                conic-gradient(
                #f44336
                ${100-overallSuccess12}%,
                #4caf50
                ${overallSuccess12}%
                );`
                )
              else
                .success-rate-section__chart(style=`background-color:#F3F0E7;`)
          
          section.progress.card.card--right
            h4= topic2.name
            section.progress__item
              p= topic2Quiz1.title
              if (overallSuccess21)
                .success-rate-section__chart(
                  style=`background:
                conic-gradient(
                #f44336
                ${100-overallSuccess21}%,
                #4caf50
                ${overallSuccess21}%
                );`
                )
              else
                .success-rate-section__chart(style=`background-color:#F3F0E7;`)
            section.progress__item 
              p= topic2Quiz2.title
              if (overallSuccess22)
                .success-rate-section__chart(
                  style=`background:
                conic-gradient(
                #f44336
                ${100-overallSuccess22}%,
                #4caf50
                ${overallSuccess22}%
                );`
                )
              else
                .success-rate-section__chart(style=`background-color:#F3F0E7;`)

      article
       H3 Edit profile
       P Please always fill in your old password to confirm the changes
         form(action='/profile/edit', method='POST')
           input(type='text', name='newName', placeholder='New name')
           input(type='text', name='newUsername', placeholder='New username')
           input(
             type='password',
             name='oldPassword',
             placeholder='Old password',
             required
           )
           input(
             type='password',
             name='newPassword',
             placeholder='New password'
           )
           button(type='submit') Edit
       details.references
        summary
          strong Password requirements
        p.references__item Your password should contain 1 lowercase letter, 1 uppercase letter, 1 numeric character, 1 special character, and must be 8 characters or longer.

      if editProfileError
        script(src='../js/editProfileFeedback.js')
