extends reusables/layout

block content
  form(action='/logout', method='POST')
    input(type='submit', value='Logout')
  article
    h1= welcomeMessage
    p= topic1quiz1ProgressSession
    p= topic1quiz2ProgressSession
    p= topic2quiz1ProgressSession
    p= topic2quiz2ProgressSession
    p= topic1quiz1ProgressTotal
    p= topic1quiz2ProgressTotal
    p= topic2quiz1ProgressTotal
    p= topic2quiz2ProgressTotal
