doctype html
head
  link(rel='stylesheet', type='text/css', href='../styles/style.css')
  link(rel='icon', href='../public/images/uulogo.png', type='image/png')
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial scale=1')
  meta(name='description', content='General information about JavaScript')
  meta(name='keywords', content='JavaScript, basics, definition')
  title= title
header.header
  a(
    href='https://www.javascript.com/',
    target='_blank',
    title='Go to JavaScript.com'
  )
    img.header__img.header__img--left(
      src='images/javascriptlogo.png',
      alt='JavaScript logo'
    )
  a(href='https://www.uu.nl/', target='_blank', title='Go to uu.nl')
    img.header__img.header__img--right(
      src='images/uulogo.png',
      alt='Utrecht Univesity logo'
    )
  h1 JavaScript
nav.nav
  ul.nav__bar.list--noBullets
    li.nav__item
      a.nav__link(href='index.html') Home
    li.nav__item
      a.nav__link(href='history.html') History
    li.nav__item
      a.nav__link(href='versionsFrameworks.html') Versions &amp; frameworks
    li.nav__item
      a.nav__link(href='examples.html') Examples
    li.nav__item
      a.nav__link(href='guides.html') Helpful guides
    li.nav__item--spacer
    li.nav__item.nav__item--right
      a.nav__link(href='assessment.html') Assessment
main
  article
    h1= welcomeMessage
    p= topic1quiz1ProgressSession
    p= topic1quiz2ProgressSession
    p= topic2quiz1ProgressSession
    p= topic2quiz2ProgressSession
    p= topic1quiz1ProgressTotal
    p= topic1quiz2ProgressTotal
    p= topic2quiz1ProgressTotal
    p= topic2quiz2ProgressTotal
  form(action='/logout', method='POST')
    input(type='submit', value='Logout')
footer
  p Made by Douwe, Tim and Maarten.
  img.footer__image(
    src='images/uulogotext.png',
    alt='UU Logo with Text reading Universiteit Utrecht'
  )
script(src='js/selection.js')
