extends reusables/layout

block content
  #topic1
    if !topic1
      article(
        style='display: flex; justify-content: center; align-items: center'
      )
        section(style='flex-direction: column')
          H2 Cannot GET Topics
          form(action='/logout', method='POST')
            button(type='submit', value='Logout') Logout
    else
      //- function declarations
      - function toPercent(x){return Math.floor((x / questionsPerQuiz) * 100)}
      - function toPercentString(x){const y = toPercent(x); if(!y == 0){return y + '%'}}

      //- regular HTML
      article
        H2 Profile page
        H3= `Hi ${name}, these are your stats.`

        H4 Progress this session
        section
          label.progress__label(for='session-progress11')= `Quiz: ${topic1Quiz1.title}, at topic: ${topic1.name}:`
          #session-progress11.progress__bar
            span(style=`width:${toPercent(sessionProgress11)}%`)= toPercentString(sessionProgress11)

        section
          label.progress__label(for='session-progress12')= `Quiz: ${topic1Quiz2.title}, at topic: ${topic1.name}:`
          #session-progress12.progress__bar
            span(style=`width:${toPercent(sessionProgress12)}%`)= toPercentString(sessionProgress12)

        section
          label.progress__label(for='session-progress21')= `Quiz: ${topic2Quiz1.title}, at topic: ${topic2.name}:`
          #session-progress21.progress__bar
            span(style=`width:${toPercent(sessionProgress21)}%`)= toPercentString(sessionProgress21)

        section
          label.progress__label(for='session-progress22')= `Quiz: ${topic2Quiz2.title}, at topic: ${topic2.name}:`
          #session-progress22.progress__bar
            span(style=`width:${toPercent(sessionProgress22)}%`)= toPercentString(sessionProgress22)

        H4 Success rates this session
        section.success-rate-section
          p= `Quiz: ${topic1Quiz1.title}, at topic ${topic1.name}:`
          .success-rate-section__chart(
            style=`background:
           conic-gradient(
           #f44336
           ${100-sessionSuccess11}%,
           #4caf50
           ${sessionSuccess11}%
           );`
          )

        section.success-rate-section
          p= `Quiz: ${topic1Quiz2.title}, at topic: ${topic1.name}:`
          .success-rate-section__chart(
            style=`background:
           conic-gradient(
           #f44336
           ${100-sessionSuccess12}%,
           #4caf50
           ${sessionSuccess12}%
           );`
          )

        section.success-rate-section
          p= `Quiz: ${topic2Quiz1.title}, at topic: ${topic2.name}:`
          .success-rate-section__chart(
            style=`background:
           conic-gradient(
           #f44336
           ${100-sessionSuccess21}%,
           #4caf50
           ${sessionSuccess21}%
           );`
          )

        section.success-rate-section
          p= `Quiz: ${topic2Quiz2.title}, at topic ${topic2.name}:`
          .success-rate-section__chart(
            style=`background:
           conic-gradient(
           #f44336
           ${100-sessionSuccess22}%,
          #4caf50
          ${sessionSuccess22}%
          );`
          )

        H4 Overall success rates
        section.success-rate-section
          p= `Quiz: ${topic1Quiz1.title}, at topic: ${topic1.name}:`
          if (overallSuccess11)
            .success-rate-section__chart(
              style=`background:
            conic-gradient(
            #f44336
            ${100-overallSuccess11}%,
            #4caf50
            ${overallSuccess11}%
            );`
            )
          else
            .success-rate-section__chart(style=`background-color:#F3F0E7;`)

        section.success-rate-section
          p= `Quiz: ${topic1Quiz2.title}, at topic: ${topic1.name}:`
          if (overallSuccess12)
            .success-rate-section__chart(
              style=`background:
            conic-gradient(
            #f44336
            ${100-overallSuccess12}%,
            #4caf50
            ${overallSuccess12}%
            );`
            )
          else
            .success-rate-section__chart(style=`background-color:#F3F0E7;`)

        section.success-rate-section
          p= `Quiz: ${topic2Quiz1.title}, at topic ${topic2.name}:`
          if (overallSuccess21)
            .success-rate-section__chart(
              style=`background:
            conic-gradient(
            #f44336
            ${100-overallSuccess21}%,
            #4caf50
            ${overallSuccess21}%
            );`
            )
          else
            .success-rate-section__chart(style=`background-color:#F3F0E7;`)

        section.success-rate-section
          p= `Quiz: ${topic2Quiz2.title}, at topic: ${topic2.name}:`
          if (overallSuccess22)
            .success-rate-section__chart(
              style=`background:
            conic-gradient(
            #f44336
            ${100-overallSuccess22}%,
            #4caf50
            ${overallSuccess22}%
            );`
            )
          else
            .success-rate-section__chart(style=`background-color:#F3F0E7;`)

      article
       H3 Edit profile
       P Please always fill in your old password to confirm the changes
         form(action='/profile/edit', method='POST')
           input(type='text', name='newName', placeholder='New name')
           input(type='text', name='newUsername', placeholder='New username')
           input(
             type='password',
             name='oldPassword',
             placeholder='Old password',
             required
           )
           input(
             type='password',
             name='newPassword',
             placeholder='New password'
           )
           button(type='submit') Edit
       details
        summary
         strong Password requirements
        P Your password should contain 1 lowercase letter, 1 uppercase letter, 1 numeric character, 1 special character, and must be 8 characters or longer.

      if editProfileError
        script(src='../js/editProfileFeedback.js')
        //- p= `editProfileError: ${editProfileError}`
